<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Bus report</title>

  <!-- Styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/app.css" crossorigin="anonymous">

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="./js/controllers.js"></script>
  <script src="./js/services.js"></script>
  <script src="./js/directives.js"></script>
  <script src="./js/app.js"></script>
</head>
<body ng-app="BusReport">
  <h2>Bus Reports</h2>
  <div ng-controller="DisplayController">
    <div class="busCompany" ng-repeat="entity in BusServicesData">

      <div class="card">
        <div class="card-body">
          <div class="card-title hide">
            <div>{{entity.organisation}} - {{entity.date}}</div>
            <i class="arrow" ng-click="toggleBusRoutes($event)"></i>
          </div>
          <div class="card-text">
            <div class="row">
              <div class="col-sm">Bus ID</div>
              <div class="col-sm">Route Variant</div>
              <div class="col-sm">Status</div>
            </div>
            <div class="row" ng-repeat="bus in entity.busData">
              <div class="col-sm">{{bus.busId}}</div>
              <route-variant></route-variant>
              <bus-status></bus-status>
            </div>

          </div>
          <div class="row">
            <textarea placeholder="Enter notes here"></textarea>
          </div>
          <div class="row">
            <button type="button" class="btn btn-info">Save Notes</button>
          </div>
        </div>
    </div>
  </div>
</body>
</html>